<div class="max-w-xl mx-auto p-8 rounded-xl shadow-xl mt-6">
  <div class="h-[200px] bg-gray-100 overflow-hidden mb-6 rounded-lg">
    <img
      src="https://source.unsplash.com/random/800x400"
      class="bg-gray-100 object-cover rounded-lg"
    />
  </div>
  <h1 class="font-black text-3xl mb-2">Subscribe for access</h1>
  <p class="text-lg text-gray-700 mb-3">
    You'll get never before seen content, an extra article per week, and access
    to our private community.
  </p>
  <div class="grid grid-cols-2 gap-6">
    <% if user_signed_in? %>
      <%= form_tag purchase_checkouts_path, method: :post, data: { turbo: false } do %>
        <input type="hidden" name="price_id" value="<%= Rails.application.credentials.dig(:stripe, :pricing, :monthly)%>" />
        <input type="submit" value="Subscribe for $9/mo" class="px-3 py-4 bg-teal-600 hover:bg-teal-700 block no-underline w-full text-center rounded font-bold text-white shadow-sm cursor-pointer" />
      <% end %>

      <%= form_tag purchase_checkouts_path, method: :post, data: { turbo: false } do %>
        <input type="hidden" name="price_id" value="<%= Rails.application.credentials.dig(:stripe, :pricing, :yearly)%>" />
        <input type="submit" value="Subscribe for $90/yr" class="px-3 py-4 bg-indigo-600 hover:bg-indigo-700 block no-underline w-full text-center rounded font-bold text-white shadow-sm cursor-pointer" />
      <% end %>
    <% else %>
      <%= link_to "Subscribe for $9/mo", new_user_session_path, class:"px-3 py-4 bg-teal-600 hover:bg-teal-700 block no-underline w-full text-center rounded font-bold text-white shadow-sm cursor-pointer" %>

      <%= link_to "Subscribe for $90/yr", new_user_session_path, class:"px-3 py-4 bg-indigo-600 hover:bg-indigo-700 block no-underline w-full text-center rounded font-bold text-white shadow-sm cursor-pointer" %>
    <% end %>
  </div>
</div>
